In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('brazil_no_null.csv')
data.head()

,job,sector,Month_salary,13_salary,eventual_salary,indemnity,extra_salary,discount_salary,total_salary
0,OFICIAL ADMINISTRATIVO,DETRAN,2315.81,0.0,0.0,0.0,73.85,0.0,1929.34
1,SD 2C PM,PM,3034.05,0.0,0.0,0.0,651.82,0.0,2265.96
2,1TEN PM,PM,8990.98,0.0,0.0,0.0,626.75,0.0,6933.04
3,MAJ PM,SPPREV,13591.02,0.0,0.0,0.0,0.00,0.0,10568.36
4,AG.TEC. DE ASSIT. A SAUDE,HCFMUSP,4203.67,0.0,0.0,0.0,0.00,0.0,3561.88

In [3]:
data.job.nunique()

3418

In [4]:
data.sector.nunique()

90

In [5]:
data.job.unique()

array(['OFICIAL ADMINISTRATIVO', 'SD 2C PM', '1TEN  PM', ...,
       'TECNICO INFORMATICA (30H)', 'TECNICO SERVICOS JURIDICOS II',
       'ARQUITETO III(A EX3)'], dtype=object)

In [6]:
data.sector.unique()

array(['DETRAN', 'PM', 'SPPREV', 'HCFMUSP', 'ADM GERAL', 'EDUCACAO',
       'PGE', 'SAP', 'PRODESP', 'SSP', 'FUND. CASA', 'SAUDE', 'CDHU',
       'CPTM', 'METRO', 'DAEE', 'DAESP', 'SABESP', 'DER', 'SAA', 'HCFMRP',
       'CEETEPS', 'PROCON', 'FAZENDA', 'SECRETARIA', 'FURP', 'ITESP',
       'MEIO AMBIE', 'SUCEN', 'FDE', 'UNIVESP', 'ZOOLOGICO', 'IPT',
       'IMESP', 'SDS', 'INSTITUTO', 'CESP', 'TRANSP. ME', 'EMTU',
       'PRO-SANGUE', 'SEPLAN', 'CPOS', 'IPEM', 'FAMEMA',
       ' PROJETOS E OBRAS', 'PE. ANCHIE', 'CETESB', 'DERSA', 'TURISMO',
       'FUND. FLOR', 'EMAE', 'HCFMB', 'CULTURA', 'FMSJRPRETO', 'EMPLASA',
       'JUSTICA', 'CODASP', 'FUNAP', 'SDECTI', 'CIA DOCAS',
       'OBR E GESTAO', 'SERT', 'ESPORTE', 'CASA CIVIL', 'RECURSOS H',
       'FAPESP', 'ENERGIA', 'JUCESP', 'MEMORIAL', 'IPESP', 'FOSP',
       'HABITACAO', 'SEADE', 'DESENVOLVE', 'IMESC', 'ARSESP', 'SPPREVCOM',
       'AGEMVALE', 'SDPD', 'ARTESP', 'TRANSPORTE', 'CPSEC', 'CBPM',
       'AGEMCAMP', 'COSESP', 'CARGOS SAL', 'CPP', 'AGEM', 'GAB GOV',
       'SP.CLIN.FA'], dtype=object)

In [7]:
sector_values = data.sector.value_counts().to_dict()
sector_values

{'SPPREV': 431173,
 'EDUCACAO': 252532,
 'PM': 79856,
 'SAUDE': 47740,
 'SAP': 42717,
 'ADM GERAL': 31818,
 'SSP': 31304,
 'CEETEPS': 18831,
 'SABESP': 17400,
 'FUND. CASA': 11855,
 'HCFMUSP': 11057,
 'METRO': 8779,
 'CPTM': 6768,
 'FAZENDA': 6025,
 'INSTITUTO': 5305,
 'HCFMRP': 5014,
 'SAA': 3873,
 'DETRAN': 3253,
 'DER': 3067,
 'DAEE': 1919,
 'CETESB': 1870,
 'PRODESP': 1756,
 'PGE': 1502,
 'MEIO AMBIE': 1334,
 'SECRETARIA': 1302,
 'SUCEN': 1244,
 'SEPLAN': 958,
 'PE. ANCHIE': 919,
 'HCFMB': 855,
 ' PROJETOS E OBRAS': 850,
 'FURP': 831,
 'IMESP': 752,
 'IPT': 727,
 'IPEM': 646,
 'CDHU': 624,
 'FAMEMA': 592,
 'ITESP': 588,
 'EMTU': 584,
 'PROCON': 554,
 'CESP': 525,
 'DERSA': 505,
 'FMSJRPRETO': 486,
 'ESPORTE': 467,
 'SDS': 461,
 'PRO-SANGUE': 458,
 'SDECTI': 416,
 'EMAE': 407,
 'FUND. FLOR': 363,
 'FDE': 345,
 'FUNAP': 340,
 'CODASP': 330,
 'ZOOLOGICO': 321,
 'UNIVESP': 301,
 'SEADE': 290,
 'FAPESP': 275,
 'TRANSP. ME': 268,
 'SERT': 239,
 'CASA CIVIL': 234,
 'JUCESP': 226,
 'CULTURA': 226,
 'IMESC': 216,
 'CPOS': 212,
 'JUSTICA': 205,
 'DAESP': 175,
 'DESENVOLVE': 165,
 'EMPLASA': 151,
 'ARSESP': 134,
 'CIA DOCAS': 103,
 'RECURSOS H': 97,
 'HABITACAO': 94,
 'FOSP': 82,
 'TRANSPORTE': 76,
 'IPESP': 74,
 'SPPREVCOM': 72,
 'SDPD': 60,
 'TURISMO': 58,
 'MEMORIAL': 58,
 'ARTESP': 52,
 'CBPM': 43,
 'ENERGIA': 39,
 'COSESP': 39,
 'OBR E GESTAO': 20,
 'AGEM': 18,
 'CPP': 14,
 'AGEMCAMP': 13,
 'CPSEC': 10,
 'AGEMVALE': 4,
 'CARGOS SAL': 1,
 'GAB GOV': 1,
 'SP.CLIN.FA': 1}

In [8]:
sector_list = []
for key, value in sector_values.items():
    if value > 1000:
        sector_list.append(key)
len(sector_list)

26

In [9]:
job_values = data.job.value_counts().to_dict()

In [10]:
job_values

{'PROFESSOR EDUCACAO BASICA II': 214872,
 'PROFESSOR EDUCACAO BASICA I': 124634,
 'BENEFICIARIO DE SERVIDOR ESTADUAL-IPESP': 87967,
 'AGENTE DE ORGANIZACAO ESCOLAR': 42012,
 'BENEFICIARIO DA POLICIA MILITAR - CBPM': 36466,
 'CABO  PM': 35377,
 'AUXILIAR SERV. GERAIS': 25663,
 'SD 1C PM': 23563,
 'OFICIAL ADMINISTRATIVO': 23209,
 '3SGT  PM': 19585,
 'AUXILIAR DE ENFERMAGEM': 18398,
 '1SGT  PM': 14770,
 'AGENTE DE SERVICOS ESCOLARES': 12611,
 'DIRETOR DE ESCOLA': 11540,
 'COMPLEM. PENSAO - FEPASA': 10860,
 'PROFESSOR DE ENSINO MED E TEC': 10834,
 'OUTROS VINCULOS': 9225,
 '2TEN  PM': 8584,
 'MEDICO I': 7410,
 'AGENTE FISCAL DE RENDAS': 6358,
 'CABO P.M.': 6076,
 'ENFERMEIRO': 6049,
 'AG.ESCOLTA E VIGILANCIA PENIT.': 5942,
 'STEN  PM': 5816,
 'COMPLEM. APOSENT. - FEPASA': 5429,
 'TECNICO DE ENFERMAGEM': 5289,
 '2SGT  PM': 5050,
 'OFICIAL OPERACIONAL': 4975,
 'AG.SEG.PENITENC.CLASSE V': 4865,
 'SD 2C PM': 4837,
 'AG.SEG.PENITENC.CLASSE IV': 4815,
 'AG.TEC. DE ASSIT. A SAUDE': 4747,
 'INVESTIGADOR POL.2A CLASSE': 4554,
 'SUPERVISOR DE ENSINO': 4288,
 '1TEN  PM': 4166,
 'MEDICO II': 3978,
 'AGENTE DE SANEAMENTO AMBIENTAL': 3909,
 'AG.SEG.PENITENC.CLASSE III': 3903,
 'SECRETARIO DE ESCOLA': 3847,
 'ESCRIVAO POL.2A CLASSE': 3642,
 'AUXILIAR DE SAUDE I': 3626,
 'ENCARREGADO I': 3447,
 'AG.SEG.PENITENC.CLASSE II': 3427,
 'AGENTE DE AP SOCIOEDUCAT I': 3362,
 'CHEFE I': 3305,
 'COMPLEM. DE APOSENTADORIA - CESP/CTEEP': 3301,
 'AG.SEG.PENITENC.CLASSE VI': 3268,
 'PROFESSOR DE ENSINO SUPERIOR': 3143,
 'INVESTIGADOR POL.1A CLASSE': 3012,
 'TECNICO DA FAZENDA ESTADUAL': 2913,
 'INVESTIGADOR POL.CL.ESPECIAL': 2836,
 'MEDICO III': 2811,
 'AUXILIAR DE SAUDE': 2724,
 'AG.SEG.PENITENC.CLASSE I': 2641,
 'COMPLEMENTACAO APOSENTADORIA - BANESPA': 2605,
 'COMPLEMENTACAO APOSENTADORIA': 2426,
 'INVESTIGADOR POL.3A CLASSE': 2345,
 'SD 10 CLASSE PM': 2197,
 'CIRURGIAO DENTISTA': 2153,
 'TECNICO EM SISTEMAS DE SANEAME': 2134,
 'EXECUTIVO PUBLICO': 2085,
 'ASSIST.DIRETOR ESCOLA': 2058,
 'ESCRIVAO POL.1A CLASSE': 2053,
 'ESCRIVAO POL.3A CLASSE': 2006,
 'AG.SEG.PENITENC.CLASSE VII': 1977,
 'TECNICO DE LABORATORIO': 1960,
 'DIRETOR I': 1954,
 'ESCRIVAO POL.CLASSE ESPECIAL': 1927,
 'CARCEREIRO DE 2A CLASSE': 1872,
 'CEL PM': 1864,
 'COMPLEM. APOSENT. - SABESP': 1717,
 'MAJ   PM': 1684,
 'CAP   PM': 1614,
 'DELEGADO POLICIA 1A CLASSE': 1572,
 'COMPLEMENTACAO DE PENSAO - CESP/CTEEP': 1489,
 'AGENTE TECNICO DE SAUDE': 1449,
 'DELEGADO POLICIA 2A CLASSE': 1404,
 'AGENTE TECNICO E ADMINISTRATIVO': 1392,
 'OFICIAL DE SAUDE': 1384,
 'AGENTE TECNICO ASSIST SAUDE': 1353,
 'OP CIRCULACAO-MAQUINISTA': 1322,
 'AGENTE DE AP SOCIOEDUCAT II': 1283,
 'AGENTE DE AP SOCIOEDUCAT III': 1237,
 'DIRETOR TECNICO I': 1232,
 'COMPLEMENTACAO DE APOSENTADORIA-VASP': 1232,
 'AG DE SERVICOS DE OPERACAO': 1229,
 'PENSAO REVOLUCAO 1932': 1208,
 'CAP PM': 1148,
 'TECNICO DE RADIOLOGIA': 1142,
 'OP TRAN METROV I (ESTACAO)': 1124,
 'AUXILIAR DE APOIO': 1077,
 'CARCEREIRO DE 1A CLASSE': 1070,
 'ANALISTA ADMINISTRATIVO': 1066,
 'AGENTE POLICIAL DE 2A CLASSE': 1062,
 'AUX.APOIO PESQ.CIENT.TECNOL.': 1050,
 'AUXILIAR DE LABORATORIO': 1044,
 'CARCEREIRO DE CLASSE ESPECIAL': 1041,
 'DIRETOR TECNICO II': 1021,
 'PESQUISADOR CIENTIFICO VI': 1021,
 'OP TRAN METROV II (TRAFEGO)': 974,
 'AG SEG METROV I (SEGURANCA)': 946,
 'AG.TELECOM.POL.2A.CLASSE': 940,
 'ASSISTENTE AGROPECUARIO VI': 918,
 'DELEGADO POLICIA 3A CLASSE': 879,
 'ASSISTENTE ADMINISTRATIVO': 877,
 'AGENTE SEGURANCA PENITENCIARIA': 876,
 'COMPLEMENTACAO DE PENSAO - VASP': 865,
 'TCEL  PM': 851,
 'TEC MANUT.': 850,
 'ENGENHEIRO VI': 837,
 'DIRETOR TECNICO DE SAUDE I': 753,
 'COMPLEM. PENSAO - SABESP': 741,
 'OFICIAL AP.PESQ.CIENT.TECNOL.': 738,
 'AGENTE POLICIAL DE 3A CLASSE': 736,
 'AGENTE DE SAUDE': 736,
 'COORD DE EQUIPE': 731,
 'PROFESSOR II': 724,
 'AG.TELECOM.POL.1A.CLASSE': 721,
 'APRENDIZ': 694,
 'TECN.APOIO PESQ.CIENT.TECNOL.': 671,
 'AUXILIAR DE DOCENTE': 665,
 'COMPLEMENTACAO PENSAO - BANESPA': 652,
 'ASSESSOR I': 651,
 'AGENTE POLICIAL DE 1A CLASSE': 646,
 'TECNICO DE APOIO AGROPECUARIO': 628,
 'ESTAG ENSINO MEDIO REGULAR P': 609,
 'AG DE SEGURANCA': 603,
 'AGENTE  ESTADUAL DE TRANSITO I': 603,
 'ASSESSOR DE APOIO FAZENDARIO II': 599,
 'ASSESSOR TECNICO III': 598,
 'AUXILIAR DE APOIO AGROPECUARIO': 594,
 'DELEGADO POLICIA CL.ESPECIAL': 583,
 'AG.TELECOM.POL.3A.CLASSE': 578,
 'CHEFE II': 574,
 'ANALISTA SOCIO CULTURAL': 569,
 'ENGENHEIRO': 553,
 'AG.POL. CLASSE ESPECIAL': 548,
 'AGENTE DE APOIO AGROPECUARIO': 543,
 'AG.TELECOM.POL.CL.ESPECIAL': 542,
 'PROCURADOR DO ESTADO NIVEL V': 538,
 'OFICIAL DE MANUTENCAO ELETRICA': 536,
 'DIRETOR DE SERVICO': 532,
 'PERITO CRIMINAL DE 2A CLASSE': 528,
 'MOTORISTA OPER DE EQUIP AUTOMO': 518,
 'AUX.PAPILOSC.POL.2A CLASSE': 507,
 'ASSESSOR TECNICO II': 504,
 'AGENTE EDUCACIONAL I': 479,
 'DIRETOR II': 454,
 'ANALISTA INFORMATICA': 452,
 'AGENTE DE SANEAMENTO': 444,
 'DIRETOR TECNICO DE SAUDE II': 429,
 'PESQUISADOR CIENTIFICO V': 426,
 'OF MAN IND (ELETRICA)': 422,
 'COMPLEM PENSAO-BANCO NOSSA CAIXA': 401,
 'OFICIAL ESTADUAL DE TRANSITO I': 395,
 'OF MAN IND (MECANICA)': 383,
 'DESINSETIZADOR': 381,
 'ENCARREGADO DE ESTACAO': 379,
 'AG.APOIO PESQ.CIENT.TECNOL.': 378,
 'ASSESSOR II': 377,
 'OFICIAL DE APOIO AGROPECUARIO': 376,
 'PAPILOSC.POLICIAL DE 2A CLASSE': 375,
 'DIRETOR TECNICO III': 369,
 'PERITO CRIMINAL DE 3A CLASSE': 366,
 'COORDENADOR PEDAGOGICO': 357,
 'OP TRAN METROV III (SUPERV)': 354,
 'PERITO CRIMINAL DE 1A CLASSE': 347,
 'ANAL.PLAN.ORC.FINANC. PUBL. I': 342,
 'PERITO CRIMINAL CL.ESPECIAL': 340,
 'PENSAO ADMINISTRATIVA': 340,
 'PROCURADOR DO ESTADO NIVEL IV': 333,
 'AUXILIAR ADMINISTRATIVO': 329,
 'ASSESSOR TECNICO IV': 318,
 'FOTOGRAFO TECN.PERIC.2A CLASSE': 310,
 'PENSAO JUDICIAL': 307,
 'ASSIST. TECNICO ADM. I': 289,
 'OP TRAN METROV II (ESTACAO)': 286,
 'COORDENADOR': 286,
 'PAPILOSC.POLICIAL DE 1A CLASSE': 284,
 'COMPLEM. APOSENT. - CEAGESP': 283,
 'AGENTE ADMINISTRATIVO I': 283,
 'AUX.PAPILOSC.POL.1A CLASSE': 278,
 'PESQUISADOR CIENTIFICO IV': 272,
 'ESPECIALISTA CONTABIL': 264,
 'AUX.PAPILOSC.POL.3A CLASSE': 264,
 'ASSISTENTE AGROPECUARIO III': 263,
 'AUXILIAR DE ENFERMAGEM I': 261,
 'ASSISTENTE SOCIAL I': 261,
 'TUTOR': 261,
 'AUX.PAPILOSC.POL.CL.ESPECIAL': 260,
 'ASSESSOR TECNICO I': 251,
 'PSICOLOGO I': 247,
 'MEDICO LEGISTA DE 2A CLASSE': 246,
 'TECNICO EM GESTAO 01': 244,
 'OFICIAL DE MANUTENCAO MECANICA': 240,
 'TECNICO EM GESTAO 10': 239,
 'AGENTE DE APOIO OPER I': 239,
 'PAPILOSC.POL.CLASSE ESPECIAL': 237,
 'TECNICO EM GESTAO 09': 235,
 'TECNICO EM GESTAO 08': 234,
 'PROCURADOR DO ESTADO NIVEL III': 227,
 'AGENTE T CNICO E ADMINISTRATIV': 222,
 'ASSIST.ADM.ESCOLAR': 219,
 'CARCEREIRO DE 3A CLASSE': 218,
 'DIRETOR DE ESCOLA TECN.-ETEC': 218,
 'COMPLEM. APOSENT. - CETESB': 217,
 'TECNICO EM GESTAO PREVID. I': 214,
 'MEDICO LEGISTA DE 1A CLASSE': 214,
 'COMPLEM. APOSENT. IPT - EMPRESA': 211,
 'PESQUISADOR CIENTIFICO III': 209,
 'TEC SIST METROV III (MANUTEN)': 205,
 'TECNICO ADMINISTRATIVO': 204,
 'ESPECIALISTA AMBIENTAL II': 203,
 'SUPERV.EQUIPE TECNICA DE SAUDE': 201,
 'COMPLEM. PENSAO - CEAGESP': 201,
 'ANALISTA DE SUPORTE E GESTAO': 199,
 'ENGENHEIRO I': 199,
 'ESTAGIARIO': 197,
 'ENCARREGADO II': 195,
 'TECNICO EM GESTAO 05': 194,
 'TECNICO EM GESTAO 04': 193,
 'ASSISTENTE AGROPECUARIO II': 193,
 'ADVOGADO': 184,
 'ASSESSOR TECNICO SAUDE PUBLICA I': 181,
 'BENEFICIARIOS-PENSAO PARLAMENTAR': 179,
 'MEDICO LEGISTA CLASSE ESPECIAL': 177,
 'TEC REST CORRET III (RESTAB)': 176,
 'TECNICO EM GESTAO 06': 175,
 'ASSESSOR TECNICO SAUDE PUBLICA II': 175,
 'TECNICO EM GESTAO 07': 174,
 'MEDICO LEGISTA DE 3A CLASSE': 172,
 'ESTAG SUP ADMINISTRACAO DE EMP': 172,
 'ESPECIALISTA EM  METROLOGIA E': 171,
 'ASSESSOR TECNICO DE GABINETE IV': 170,
 'TECNICO EM METROLOGIA E QUALID': 170,
 'PSICOLOGO II': 170,
 'FOTOGR.TECN.PERIC.CL.ESPECIAL': 169,
 'JULGADOR TRIBUTARIO': 168,
 'ESPECIALISTA INFORMATICA': 167,
 'ASSISTENTE SOCIAL II': 167,
 'FOTOGRAFO TECN.PERIC.1A CLASSE': 166,
 'AUX.NECROPSIA DE 3A CLASSE': 163,
 'PROFISS EDUC FISICA I': 161,
 'TECNICO EM GESTAO 11': 158,
 'ENCARREGADO DE MANUTENCAO': 157,
 'PEDAGOGO I': 156,
 'AGENTE DE GESTAO OPERACIONAL': 156,
 'OFICIAL SOCIO CULTURAL': 155,
 '3CFO  PM': 155,
 'PAPILOSC.POLICIAL DE 3A CLASSE': 155,
 'AGENTE DE APOIO ADM I': 154,
 'ASSIST ADM IV': 152,
 'ATEND.NECROT.POL.2A.CLASSE': 152,
 'PROCURADOR DO ESTADO NIVEL II': 151,
 'MEDICO': 150,
 'ENGENHEIRO II': 149,
 'COMPLEM. APOSENT. - DERSA': 148,
 'OF LOG ALMOX I (ALMOXARIFADO)': 148,
 'TECNICO EM GESTAO 02': 142,
 'GERENTE': 141,
 'TEC ADM I': 138,
 'ASSESS.TECN.FAZ.ESTADUAL II': 137,
 'TECNICO EM GESTAO 15': 136,
 'ANALISTA SUPORTE GESTAO': 136,
 'TECNICO INFORMATICA': 132,
 'TECNICO EM GESTAO 14': 131,
 'ASSESSOR TECN. REGISTRO PUBL.': 129,
 'MOTORISTA': 129,
 'TECNICO EM GESTAO 16': 129,
 'ESPECIAL. PROT DEFES CONSUM I': 128,
 'BIOLOGISTA': 126,
 'ENGENHEIRO 03': 125,
 'FOTOGRAFO TECN.PERIC.3A CLASSE': 125,
 'OF MAN INST II (MANUT CIVIL)': 125,
 'TECNICO EM GESTAO 03': 124,
 'ENCARREGADO ADMINIST III': 124,
 'TECNICO EM GESTAO 13': 123,
 'AUXILIAR PRODUCAO': 123,
 'OPERADOR PRODUCAO': 123,
 'SUPERVISOR': 122,
 'AUX.NECROPSIA 2A CLASSE': 117,
 'OP TRAN METROV IV (CCO)': 114,
 'PENSAO PARLAMENTAR': 113,
 'TECNICO EM GESTAO 12': 112,
 'OFICIAL DE MANUTENCAO 01': 112,
 'PROCURADOR DO ESTADO NIVEL I': 111,
 'ANALISTA SUPORTE INFORMATICA': 111,
 'OP CIRCULACAO-CONSOLE CIRCUL.': 110,
 'CHEFE DEPARTAMENTO': 109,
 'ASSISTENTE INFORMATICA': 109,
 'PESQUISADOR CIENTIFICO II': 108,
 'DESENH.TECN.PERIC.2A CLASSE': 108,
 'OFICIAL DE APOIO METROLOGIA E': 108,
 'CHEFE DE SAUDE II': 108,
 'PESQUISADOR ASSISTENTE': 108,
 '2CFO  PM': 106,
 'ENCARREGADO TECNICO': 105,
 'COMPLEM. APOSENT. - PRODESP': 105,
 'ASSESSOR TECNICO V': 104,
 'DOCENTE': 104,
 'SUPERVISOR MANUTENCAO': 103,
 'ANL DE ADMINISTRACAO E GESTAO': 102,
 'AG SEG METROV II (SUPERVISAO)': 101,
 'CONTADOR CHEFE': 100,
 'APRENDIZ SENAI (OPERACIONAL)': 98,
 'ESP ADMINISTRATIVO I': 98,
 'ASSISTENTE TECNICO II': 98,
 'COORD PEDAGOGICO': 97,
 'TECNICO EM GESTAO 20': 97,
 'DIRETOR TECN.SERV.FAZ.ESTADUAL': 97,
 'MEDICO PRECEPTOR': 97,
 'ESPECIAL. PROT. DEFES. CONSUM III': 96,
 'ANALISTA DE GESTAO 02': 95,
 'AGENTE DE APOIO ADM III': 95,
 'TEC ADM II': 95,
 'ENGENHEIRO 04': 95,
 'COMPLEMENTACAO APOSENTADORIA - IMESP': 94,
 'ATEND.NECROT.POL.1A.CLASSE': 94,
 'SUPERVISOR DE MANUTENCAO': 94,
 'ANALISTA ADMINISTRATIVO I': 94,
 'OPERADOR FERROVIARIO': 94,
 'PROF.ADJUNTO IV-D': 93,
 'DIRETOR TECN.DIV.FAZ.ESTADUAL': 92,
 'PESQUISADOR I': 92,
 'ENGENHEIRO III': 91,
 'AUX.NECROPSIA CLASSE ESPECIAL': 90,
 'COMPLEMENTACAO PENSAO': 90,
 'SUPERVISOR TECN. III': 90,
 'DIRETOR DE UNIDADE II': 90,
 'AG DE CONSERVACAO DE VIA': 89,
 'ASSIST.TECN.PESQ.C.TECNOL. VI': 88,
 'DIRIGENTE REGIONAL DE ENSINO': 87,
 'TECNICO EM GESTAO 17': 87,
 'COMPLEM PENSAO - BANCO NOSSA CAIXA': 87,
 'TEC AMB II': 86,
 'AGENTE DE APOIO ADM II': 85,
 'AGENTE DE APOIO OPER III': 85,
 'ANALISTA DE REC AMBIENTAIS': 84,
 'ATEND.NECROT.POL.3A.CLASSE': 82,
 'AUX.NECROPSIA 1A CLASSE': 82,
 'TECN.PROT.DEF.CONSUMIDOR  I': 82,
 'TECNICO ESPECIALIZADO II': 81,
 'ANALISTA DE SISTEMAS DE SANEAM': 81,
 'ATEND.NECROT.POL.CLASSE ESP.': 81,
 'AGENTE DE APOIO OPER II': 81,
 'ENGENHEIRO IV': 81,
 'SUPERVISOR DE TRACAO': 81,
 'DIRETOR TECNICO DE SAUDE III': 80,
 'ASSIST ADM III': 80,
 'PROCURADOR DE AUTARQUIA V': 80,
 'ANALISTA DE GESTAO 06': 80,
 'ANALISTA DE GESTAO 01': 80,
 'ADVOGADO I': 79,
 'CHEFE DE DEPARTAMENTO': 79,
 'CHEFE SECAO ADMINISTRATIVA': 79,
 'COMPLEMENTACAO DE PENSAO - E.F.C.J.': 79,
 'PEDAGOGO II': 79,
 'ANALISTA EM GESTAO PREVID. I': 78,
 'TEC SIST METROV II (MANUTEN)': 77,
 'COMPLEM. PENSAO - DERSA': 77,
 'ENFERMEIRO I': 77,
 'COMPLEM APOSENT - BANCO NOSSA CAIXA': 76,
 'PESQUISADOR II': 75,
 'ASSISTENTE DE SERVICOS ADMINIS': 75,
 'OP CIRCULACAO-CONSOLE PASSAG.': 74,
 'TEC REST CORRET III (CORRET)': 74,
 'NAO SERVIDOR': 74,
 'ENGENHEIRO ESPECIALIZADO': 74,
 'ENGENHEIRO 05': 73,
 'AGENTE DE DESENV. SOCIAL': 73,
 'ANALISTA DE GESTAO 04': 73,
 'TEC AMB I': 73,
 'ALUNO APRENDIZ': 72,
 'ARQUITETO VI': 72,
 'OFICIAL DE MANUTENCAO 04': 72,
 'ENCARREGADO DE SAUDE I': 71,
 'ESPECIAL. PROT. DEFES. CONSUM II': 71,
 'TECNICO I': 71,
 'AGENTE OPER/LAVADEIRO I': 71,
 'ASSIST ADM III (SECRETARIA)': 70,
 'ENGENHEIRO 06': 69,
 'ASSISTENTE TECNICO I': 69,
 'SECRETARIA': 69,
 'TECNICO DE RECURSOS AMBIENTAIS': 69,
 'ANALISTA DE GESTAO 10': 69,
 'ASSESSOR TECN.COORDENADOR': 69,
 'CEL   PM': 68,
 'ANALISTA DE GESTAO 12': 68,
 'TECNICO EM GESTAO 19': 67,
 'AGENTE EDUCACIONAL II': 67,
 'DIRETOR DE FAC. DE TECN. FATEC': 67,
 'CHEFE GERAL DE ESTACOES': 67,
 'ASSESSOR TECNICO DE GABINETE II': 67,
 'ASSIST ADM II': 66,
 'AUXILIAR DE SERV.OPERACIONAIS': 66,
 'AUXILIAR DE RADIOLOGIA': 66,
 'ANALISTA DE GESTAO 15': 66,
 'ANALISTA DE GESTAO 03': 65,
 'COMPLEMENTACAO APOSENTADORIA EFCJ': 65,
 'ASSISTENTE AGROPECUARIO I': 65,
 'ENCARREGADO DE SEGURANCA': 64,
 'ANALISTA DE GESTAO 07': 64,
 'SUPERVISOR III': 64,
 'CONSELHEIRO FISCAL': 63,
 'ESPECIALISTA II': 63,
 'ASSIST. TECNICO ADM. II': 63,
 'OFICIAL DE MANUTENCAO 05': 63,
 'ESTAG SUP ENGENHARIA CIVIL P': 62,
 'SUPERVISOR DE SANEAMENTO': 62,
 'AUXILIAR DE ENFERMAGEM III': 62,
 'ESPECIALISTA I': 61,
 'ESPEC. POLITICA PUBLICA I': 61,
 'ESTAG SUP DIREITO P': 61,
 'TECNICO EM GESTAO 18': 60,
 'TEC REST CORRET II (RESTAB)': 60,
 'AN ADM I': 60,
 'ESPECIALISTA SUPORTE GESTAO': 60,
 'AUXILIAR DE ENFERMAGEM II': 60,
 'ASSISTENTE I': 59,
 'ANALISTA DE GESTAO 13': 58,
 '1CFO  PM': 58,
 'SUPERVISOR TECNICO': 58,
 'AG DE MANUTENCAO METALURGICO': 57,
 'COMPLEMENTACAO PENSAO - IMESP': 57,
 'ESPECIALISTA': 57,
 'ANALISTA DE DESENV URB E REGIO': 57,
 'PESQUISADOR CIENTIFICO I': 57,
 'ANALISTA DE GESTAO 11': 57,
 'TECNICO DE SEGURANCA DO TRABAL': 56,
 'AGENTE DE RECURSOS AMBIENTAIS': 56,
 'ANALISTA TECNOLOGIA': 56,
 'O.MAQUINAS A': 56,
 'ENGENHEIRO JUNIOR': 56,
 'ENGENHEIRO 28': 56,
 'ANALISTA DE GESTAO': 56,
 'ANALISTA DE GESTAO 16': 56,
 'ESCRITURARIO': 55,
 'AUXILIAR FERROVIARIO': 55,
 'TECNICO EM GESTAO 22': 55,
 'AUX. TECNICO LABORATORIO ANALI': 55,
 'ANALISTA DE GESTAO 05': 55,
 'VIGILANTE': 54,
 'OPERADOR CONTR ELETR DE SISTEM': 54,
 'O.MAQUINAS B': 54,
 'TEC SIST METROV I (MANUTEN)': 54,
 'OPERADOR PROD ESPECIALIZADO': 53,
 'DIRETOR SERVICO FAZ.ESTADUAL': 53,
 'PROCURADOR DE AUTARQUIA IV': 52,
 'ANALISTA DE GESTAO 09': 52,
 'ASSESSOR DE GABINETE II': 52,
 'TECNICO EM GESTAO 21': 52,
 'ASSESSOR  EXECUTIVO': 52,
 'AGENTE DE APOIO OPER/MOT III': 52,
 'GUARDA PARQUE': 52,
 'ANALISTA DE GESTAO 17': 52,
 'ANALISTA DE GESTAO 08': 52,
 'ANALISTA PROJETOS SR': 52,
 'TEC DE TRANSPORTES': 51,
 'COMPLEMENTACAO DE APOSENTADORIA - CESP': 50,
 'ASSESSOR DE APOIO FAZENDARIO I': 50,
 'ASSESS.TECN.FAZ.ESTADUAL I': 50,
 'PROFISS EDUC FISICA II': 50,
 'ASSESSOR DE GABINETE I': 49,
 'ASSISTENTE AGROPECUARIO V': 49,
 'AN AMB I': 49,
 'OFICIAL DE MANUTENCAO 08': 49,
 'ESPEC. REGUL. FIS. SERV. PUB. I': 48,
 'OFICIAL DE MANUTENCAO 07': 48,
 'DIRETOR': 48,
 'ARQUITETO': 48,
 'ASSISTENTE ADMINISTRATIVO II': 47,
 'CHEFE DE UNIDADE': 47,
 'TECNICO ESPECIALIZADO III': 47,
 'CONSELHEIRO DE ADMINISTRACAO': 46,
 'ANALISTA ADMINISTR. - FUNDAP': 46,
 'COMPLEM. PENSAO - BANESPREV': 46,
 'ESPECIAL. PROT. DEFES. CONSUM IV': 46,
 'AGENTE ADMINISTRATIVO III': 46,
 'ENGENHEIRO 11': 45,
 'OFICIAL DE MANUTENCAO 06': 45,
 'ASSISTENTE TECNICO': 45,
 'ASSIST.TECN.PESQ.C.TECNOL. III': 45,
 'OFICIAL DE MANUTENCAO 03': 45,
 'TECNICO ESPECIALIZADO I': 44,
 'PESQUISADOR III': 44,
 'QUIMICO I': 44,
 'AN DES GESTAO II (FINANCAS)': 43,
 'CONTADOR ENCARREGADO': 42,
 'CONTROLADOR DE SISTEMAS DE SAN': 42,
 'SUPERVISOR TECN. II': 42,
 'OFICIAL DE MANUTENCAO 09': 42,
 'ESTAGIARIO - ADMINISTRACAO': 42,
 'PROCURADOR ESTADO ASSISTENTE': 42,
 'TECNICO II': 42,
 'OFICIAL DE MANUTENCAO 02': 42,
 'ANALISTA DE GESTAO 18': 42,
 'AGENTE PESAGEM': 41,
 'ASSIST ADM I': 41,
 'OPERADOR DE VEICULOS E MAQUINA': 41,
 'COMPLEM. PENSAO - CETESB': 41,
 'COMPL. PENSAO FUNC PUBLICO-MUNICIPAL': 41,
 'TEC SIST METROV ESP (MANUT)': 41,
 'OFICIAL DE MANUTENCAO 10': 41,
 'DESENH.TECN.PERIC.1A CLASSE': 40,
 'ENGENHEIRO 01': 40,
 'ASSIST.TECN.PESQ.C.TECNOL. II': 40,
 'ENGENHEIRO 20': 40,
 'COL.DADOS/APLIC.MUNIC.SP': 39,
 'ASSESSOR EXECUTIVO': 39,
 'ANALISTA ADMINIST FINANCEIRO S': 39,
 'SUPERINTENDENTE': 39,
 'ANL GESTAO DE RECURSOS HUMANOS': 39,
 'ASSISTENTE II': 39,
 'ASSESSOR TECNICO VI': 39,
 'BIOLOGO I': 39,
 'ORIENTADOR EDUCACIONAL': 39,
 'PROCURADOR DE AUTARQUIA III': 39,
 'ASSESSOR EXECUTIVO  I': 38,
 'CHEFE DE SAUDE I': 38,
 'RECEPCIONISTA': 38,
 'ASSESSOR DE DIRETORIA': 38,
 'TRATADOR DE ANIMAIS': 38,
 'COMPLEM APOSENT-BANCO NOSSA CAIXA': 37,
 'PROCURADOR DO ESTADO ASSESSOR': 37,
 'DIRETOR DE NUCLEO  - REF C3': 37,
 'DENTISTA I': 37,
 'ENGENHEIRO 08': 37,
 'DIRETOR ADJUNTO': 37,
 'AG DE MANUTENCAO CIVIL': 37,
 'ASSISTENTE TECNICO DE TRANSITO': 37,
 'ANL GESTAO ECON FINANCEIRO': 37,
 'ASSESSOR TECNICO SAUDE PUBLICA III': 36,
 'TECNOLOGO 01': 36,
 'ENGENHEIRO 07': 36,
 'ESPECIALISTA III': 36,
 'ASSIST ADM IV (SECRETARIA)': 36,
 'TECNICO III': 35,
 'ENGENHEIRO 13': 35,
 'ASSIST.TECN.PESQ.C.TECNOL. IV': 35,
 'COMPLEM. APOSENT. - IPEM-SP': 35,
 'AN DES GESTAO I': 35,
 'CHEFE DE SECAO I': 34,
 'MONITOR DE EDUCACAO': 34,
 'ASSISTENTE III': 34,
 'ENGENHEIRO V': 34,
 'DESENH.TECN.PERIC.CL.ESPECIAL': 34,
 'AUX. SERVICO ADMINISTRATIVO': 34,
 'ANALISTA DE SISTEMAS': 34,
 'AUXILIAR LIMPEZA': 33,
 'AN ED AMB I': 33,
 'SUPERV.DE SETOR HOSPITALAR': 33,
 'ENGENHEIRO AGRONOMO VI': 33,
 'OF MAN IND (INSPECAO EQUIPAM)': 32,
 'ASSESSOR TECNICO DE GABINETE III': 32,
 'AN DES GESTAO III (CONTRATOS)': 32,
 'ENCARREGADO DE SEGUR I': 32,
 'ANALISTA DE GESTAO 14': 32,
 'MANOBRADOR': 32,
 'ASSISTENTE DE SERVICO': 32,
 'ANAL. DE DESENV. AGRARIO R1': 32,
 'SUPERVISOR OPERACAO I': 32,
 'TEC. EM DESENV. FUNDIARIO R1': 31,
 'AGENTE OPER/ELETRICISTA I': 31,
 'ENGENHEIRO SENIOR': 31,
 'ASSESSOR TECNICO DE GABINETE I': 31,
 'ATENDENTE A CLIENTES 10': 31,
 'ASSESSOR EXECUTIVO IV': 30,
 'DIRETOR DE DIVISAO - REF C4': 30,
 'ENGENHEIRO 18': 30,
 'PROCURADOR DO ESTADO CHEFE': 30,
 'COMPLEM. APOSENT. - METRO': 30,
 'ASSIST.TECN.PESQ.C.TECNOL. V': 30,
 'ANALISTA DE SUPORTE E GEST O': 30,
 'AUXILIAR DE FARMACIA': 30,
 'COMPLEM. DE APOSENTADORIA - ELETROPAULO': 30,
 'ANALISTA ADMINIST FINANCEIRO J': 30,
 'ANL DE TRANSPORTES': 30,
 'ASSESSOR TECNICO': 29,
 'ENGENHEIRO 09': 29,
 'COORD TECNICO': 29,
 'AUXILIAR DE APOIO EM METROLOGI': 29,
 'TECN OPER III': 29,
 'ATENDENTE A CLIENTES 08': 29,
 'TECNICO DE SUPORTE ADMIM I': 29,
 'ANALISTA PROJETOS PL': 29,
 'ENGENHEIRO 14': 29,
 'ANALISTA DE GESTAO ADMINISTRAT': 29,
 'ANALISTA DE GESTAO 32': 29,
 'EDITOR': 28,
 'ATENDENTE A CLIENTES 03': 28,
 'AGENTE TECN III': 28,
 'OF MAN IND (SOLDA)': 28,
 'CHEFE DE GABINETE': 28,
 'ASSIST.TECN.PESQ.C.TECNOL. I': 28,
 'ENGENHEIRO PLENO': 27,
 'AUX. SERVICOS ADMINISTRATIVOS': 27,
 'DIRETOR DE UNIDADE III': 27,
 'ANL PROCESSOS DE CONTRATACAO': 27,
 'AGENTE TECN II': 27,
 'ASSISTENTE TECNICO DE  DIRE AO': 27,
 'ANALISTA DE GESTAO 19': 27,
 'CONTROLADOR SERV MANUTENCAO': 27,
 'BIOLOGO II': 27,
 'TEC. EM DESENV.AGRARIO V C': 26,
 'SUPERVISOR II': 26,
 'AGENTE DE APOIO OPER/MOT I': 26,
 'ENCARREGADO ADMINIST II': 26,
 'ATENDENTE A CLIENTES 05': 26,
 'ESPECIALISTA EM PLANEJAMENTO E': 26,
 'ENCARREGADO GRUPO MANUT (INDL)': 26,
 'ASSIST. TECNICO ADM. III': 26,
 'OPERADOR DE MAQUINAS INDUSTRIA': 26,
 'TEC SIST METROV I (EDIFICAC)': 26,
 'CITOTECNICO': 25,
 'MEDICO VETERINARIO': 25,
 'ASSIST PROD GRAFICA-SUP ACAB': 25,
 'SUPERVISOR ADMINISTRATIVO I': 25,
 'ATENDENTE A CLIENTES 02': 25,
 'TEC REST CORRET I (CORRET)': 25,
 'TEC REST CORRET II (CORRET)': 25,
 'ENGENHEIRO 17': 25,
 'ASSESSOR EXECUTIVO VII': 25,
 'OPERADOR ACABAM I': 25,
 'COMPLEM. PENSAO IPT - EMPRESA': 24,
 'AG.ESCOLTA E VIGILANCIA PENIT': 24,
 'ASSISTENTE SOCIAL': 24,
 'AUXILIAR DE SERVI OS GERAIS': 24,
 'OFICIAL DE MANUTENCAO 14': 24,
 'ENGENHEIRO 12': 24,
 'TEC OBRAS I': 24,
 'TECNICO DE ADMINISTRACAO': 24,
 'AUXILIAR ALMOXARIFADO': 24,

In [11]:
job_list = []
for key, value in job_values.items():
    if value > 1200:
        job_list.append(key)
len(job_list)

87

In [12]:
from sklearn.preprocessing import OneHotEncoder
def categorical_encoding(column_name=None, data_frame=None):
    wclass_encoder = OneHotEncoder()
    ohe = wclass_encoder.fit_transform(data_frame[column_name].values.reshape(-1,1)).toarray()
    dfOneHot = pd.DataFrame(ohe, columns = [column_name+"_"+str(wclass_encoder.categories_[0][i]) for i in range(len(wclass_encoder.categories_[0]))])
    data_frame = pd.concat([data_frame, dfOneHot], axis=1)
    data_frame = data_frame.drop(column_name, axis=1)
    return data_frame

In [13]:
data['sector'] = ['other' if x not in sector_list else x for x in data['sector']]
data.head()

,job,sector,Month_salary,13_salary,eventual_salary,indemnity,extra_salary,discount_salary,total_salary
0,OFICIAL ADMINISTRATIVO,DETRAN,2315.81,0.0,0.0,0.0,73.85,0.0,1929.34
1,SD 2C PM,PM,3034.05,0.0,0.0,0.0,651.82,0.0,2265.96
2,1TEN PM,PM,8990.98,0.0,0.0,0.0,626.75,0.0,6933.04
3,MAJ PM,SPPREV,13591.02,0.0,0.0,0.0,0.00,0.0,10568.36
4,AG.TEC. DE ASSIT. A SAUDE,HCFMUSP,4203.67,0.0,0.0,0.0,0.00,0.0,3561.88

In [14]:
data.sector.unique()

array(['DETRAN', 'PM', 'SPPREV', 'HCFMUSP', 'ADM GERAL', 'EDUCACAO',
       'PGE', 'SAP', 'PRODESP', 'SSP', 'FUND. CASA', 'SAUDE', 'other',
       'CPTM', 'METRO', 'DAEE', 'SABESP', 'DER', 'SAA', 'HCFMRP',
       'CEETEPS', 'FAZENDA', 'SECRETARIA', 'MEIO AMBIE', 'SUCEN',
       'INSTITUTO', 'CETESB'], dtype=object)

In [15]:
data['job'] = ['other' if x not in job_list else x for x in data['job']]
data.head()

,job,sector,Month_salary,13_salary,eventual_salary,indemnity,extra_salary,discount_salary,total_salary
0,OFICIAL ADMINISTRATIVO,DETRAN,2315.81,0.0,0.0,0.0,73.85,0.0,1929.34
1,SD 2C PM,PM,3034.05,0.0,0.0,0.0,651.82,0.0,2265.96
2,1TEN PM,PM,8990.98,0.0,0.0,0.0,626.75,0.0,6933.04
3,MAJ PM,SPPREV,13591.02,0.0,0.0,0.0,0.00,0.0,10568.36
4,AG.TEC. DE ASSIT. A SAUDE,HCFMUSP,4203.67,0.0,0.0,0.0,0.00,0.0,3561.88

In [16]:
data.job.nunique()

88

In [17]:
data = categorical_encoding(column_name='job',data_frame=data)
data.head()

,sector,Month_salary,13_salary,eventual_salary,indemnity,extra_salary,discount_salary,total_salary,job_1SGT PM,job_1TEN PM,...,job_SD 1C PM,job_SD 2C PM,job_SECRETARIO DE ESCOLA,job_STEN PM,job_SUPERVISOR DE ENSINO,job_TECNICO DA FAZENDA ESTADUAL,job_TECNICO DE ENFERMAGEM,job_TECNICO DE LABORATORIO,job_TECNICO EM SISTEMAS DE SANEAME,job_other
0,DETRAN,2315.81,0.0,0.0,0.0,73.85,0.0,1929.34,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,PM,3034.05,0.0,0.0,0.0,651.82,0.0,2265.96,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,PM,8990.98,0.0,0.0,0.0,626.75,0.0,6933.04,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,SPPREV,13591.02,0.0,0.0,0.0,0.00,0.0,10568.36,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,HCFMUSP,4203.67,0.0,0.0,0.0,0.00,0.0,3561.88,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
data = categorical_encoding(column_name='sector', data_frame=data)
data.head()

,Month_salary,13_salary,eventual_salary,indemnity,extra_salary,discount_salary,total_salary,job_1SGT PM,job_1TEN PM,job_2SGT PM,...,sector_PRODESP,sector_SAA,sector_SABESP,sector_SAP,sector_SAUDE,sector_SECRETARIA,sector_SPPREV,sector_SSP,sector_SUCEN,sector_other
0,2315.81,0.0,0.0,0.0,73.85,0.0,1929.34,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3034.05,0.0,0.0,0.0,651.82,0.0,2265.96,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8990.98,0.0,0.0,0.0,626.75,0.0,6933.04,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13591.02,0.0,0.0,0.0,0.00,0.0,10568.36,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4203.67,0.0,0.0,0.0,0.00,0.0,3561.88,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# data.Month_salary.astype(float)
# data.Month_salary.dtype
# lis = list(data.Month_salary.unique())
# with open('file.txt','w') as handle:
#     for value in lis:
#         handle.write('%s\n' % value)
# len(lis)

In [20]:
data = data[data['Month_salary'] != 'CPTM']
data = data[data['Month_salary'] != 'CEETEPS']
data = data[data['Month_salary'] != 'IMESP']

# data = data[type(data['Month_salary']) == str]
data.to_csv('final_data.csv', index=False)