In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('final_data.csv')
data

,Month_salary,13_salary,eventual_salary,indemnity,extra_salary,discount_salary,total_salary,job_1SGT PM,job_1TEN PM,job_2SGT PM,...,sector_PRODESP,sector_SAA,sector_SABESP,sector_SAP,sector_SAUDE,sector_SECRETARIA,sector_SPPREV,sector_SSP,sector_SUCEN,sector_other
0,2315.81,0.0,0.0,0.0,73.85,0.0,1929.34,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3034.05,0.0,0.0,0.0,651.82,0.0,2265.96,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8990.98,0.0,0.0,0.0,626.75,0.0,6933.04,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13591.02,0.0,0.0,0.0,0.00,0.0,10568.36,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4203.67,0.0,0.0,0.0,0.00,0.0,3561.88,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047668,3358.66,0.0,0.0,0.0,0.00,0.0,3311.64,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1047669,937.00,0.0,0.0,0.0,0.00,0.0,711.89,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1047670,4336.26,0.0,0.0,0.0,0.00,0.0,3448.16,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1047671,1968.02,0.0,0.0,0.0,0.00,0.0,1412.14,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1047672,2219.58,0.0,0.0,0.0,0.00,0.0,2056.87,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [3]:
target = data.pop('total_salary')

In [4]:
data = data

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data, target, test_size = 0.25)
X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((785754, 121), (785754,), (261919, 121), (261919,))

In [6]:
from sklearn.metrics import r2_score
def regression_metrics(true_values, predicted_values):
    print("r^2 value is: "+ str(r2_score(true_values, predicted_values)))

### Linear model: Linear Regression

In [7]:
# X_train[X_train.isin(['CEETEPS'])].stack()

In [8]:
X_train.Month_salary.unique()

array([ 1698.28,  2122.1 ,  7367.55, ..., 12325.8 ,  3060.92,  1222.26])

In [9]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
predicted_values = linear.predict(X_test)
regression_metrics(Y_test, predicted_values)

r^2 value is: 0.9340891731500066

#### Decision Tree Regressor

In [11]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(X_train, Y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [12]:
predicted_values = dtr.predict(X_test)
regression_metrics(Y_test, predicted_values)

r^2 value is: 0.9083987735497085

In [13]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, Y_train)

C:\Users\jagad\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [14]:
predicted_values = rfr.predict(X_test)
regression_metrics(Y_test, predicted_values)

r^2 value is: 0.9298316604821054